.Songs p {
    color: #0b004c;
    font-weight: bold;
}

.Songs .table-hover>tbody>tr:nth-of-type(even):hover {
    background-color: #d6d6d6;
}

.Songs .glyphicon:hover {
    cursor: pointer;
}

.table-striped>tbody>tr {
    background-color: #d6d6d6;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #d6d6d6;
}