.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
}
.CardsContainer a {
    margin-bottom: 12px;
    margin-left: 12px;
    width: calc(50% - 12px);
}
.CardsContainer a:hover {
    text-decoration: none;
}
.Card {
    background-color: rgb(216, 216, 216);
    border-radius: 7px;
    position: relative;
}
.Card:hover {
    background-color: rgb(240, 240, 240);
}
.Card img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 80px;
    height: 80px;
}
.Card .PrimaryContent {
    color: #0b004c;
    font-weight: bold;
    padding-left: 12px;
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: middle;
}
.Card p {
    color: black;
    font-weight: 400;
    margin-bottom: 4px;
}
.Card p:nth-child(3) {
    margin-bottom: 0px;
}
.Card .glyphicon-star {
    font-size: 17px;
    position: absolute;
    top: 10px;
    right: 10px;
}