.Search {
    margin-top: 24px;
    margin-bottom: 24px;
}
.Search button {
    background-color: transparent;
    border: none;
    margin-left: 12px;
    font-size: 17px;
}
.Search p {
    font-size: 13px;
    margin-bottom: 6px;
    padding-top: 12px;
}
.Search a {
    color: #0b004c;
}
.Search a:hover {
    color: #2000d4;
    text-decoration: none;
}
.Search input {
    width: 650px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
}