.CardBig {
    margin-bottom: 24px;
}
.CardBig .PrimaryContent {
    display: inline-block;
    padding-left: 12px;
    vertical-align: middle;
    max-width: calc(100% - 64px);
}
.CardBig h5, .CardBig h3 {
    margin: 0;
    text-transform: capitalize;
}
.CardBig h3 {
    padding-bottom: 12px;
}
.CardBig img {
    width: 64px;
    height: 64px;
}